body{
    background-color:#ebe7d9 ;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: auto;
    background-repeat: no-repeat;


}

header{
    background-color: #0F222D;
    margin: 0;
    padding: 0;
    box-shadow: 0px 10px 10px black ;
    

}


#mainH{
    width: 100% ;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;

}

.liGauche{
    display: flex;
    align-items: center;
    margin-top: 127px;

}

.liDroite{
    display: flex;
    align-items: center;
    margin-top: 127px;
}


nav li {
    margin-inline-end: 50px;
    margin-inline-start: 20px;
    font-size: 1em;
    border: solid 1px #bab4ba;
    padding: 10px;
}


nav{
    font-family: 'Arima', cursive;
    font-weight: normal;

}

nav a:link{
    text-decoration: none;
    color: #ebe7d9;
}

nav a:visited{
    color: #ebe7d9;
}

nav a:hover {
    color: #ebe7d9;
}

ul{
    list-style-type: none;
}

.drogon, .rhaegal, .viserion{
    width: 100%;
    display: flex;
    flex-direction: column;


}

.imageASOIAFDRAGON{
    width: 100%;
    display: flex;
    flex-direction: row;

}

h1{ 
    width: auto;
    color: #0F222D;
    font-family: 'Arima', cursive;
    font-weight: bold;
    text-align: center;

}

.drogon{
    margin-bottom: 50px;


}   

.rhaegal{
    margin-bottom: 50px;


}

.viserion{
    margin-bottom: 50px;


}

.greyworm, .selmy, .belwas, .xaro{
    display: flex;
    flex-direction: column;


}
.imageASOIAFHERO{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

span{
    font-size: 0.6em;
}

.greyworm{
    margin-bottom: 50px;


}

.xaro{
    margin-bottom: 50px;


}

.belwas{
    margin-bottom: 50px;


}

.selmy{
    margin-bottom: 50px;

}
