

body {
  background-color:var(--backgroundColor);
  height: var(--heightBody);
  font-family: var(--fontFamily);

}

header {
  background-color: var(--primary-color);
  height: var(--heightHeader);
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 14px 28px, rgba(0, 0, 0, 0.4) 0px 10px 10px;
  position: fixed;
  z-index: 10;
}

nav {
  display: flex;
  flex-direction: row;
  color: var(--secondary-color);
  justify-content: center;
  height: 15vh;
  align-items: center;
}

.navBarLink > a{
  text-decoration: none;
  list-style: none;
  color: var(--textColor);
}

.menu {
  display: flex;


}

.menu li {
  margin: calc(var(--spacingBase) * 6);
  padding: .75rem 0;
  height: 5vh;
  font-size: 1.2em;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 300ms ease-in-out;
  list-style: none;
}

.menu li:after,
.menu li:before {
  content: "";
  position: absolute;
  width: 0%;
  display: block;
  height: 1px;
  transition: all 1.5s ease;
  margin-top: 2px;
}

.menu li:after {
  bottom: 25%;
}

.menu li:before {
  top: 25%;
}

.menu li:hover::after {
  width: 100%;
  height: 1px;
  bottom: 25%;
  background-color: var(--secondary-color);
}

.menu li:hover::before {
  width: 100%;
  height: 1px;
  top: 25%;
  background-color: var(--secondary-color);
}

.burger{
  display: none;
}

.logo {
  background-image: url("../../logominis&bros.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25vh;
  width: 45%;
}

#main {
  display: flex;
  flex-direction: row;
  height: 100%;
  
}

.presentation{
  background-color: var(--secondary-color);
  padding-top: 8%;
}

.about {
  width: 35vw;
  color: var(--primary-color);
  margin: var(--spacingBase);

}

.slide-in-left {
  -webkit-animation: slide-in-left 3s ease-in-out both;
  animation: slide-in-left 3s ease-in-out both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 3s ease-in-out both;
  animation: slide-in-right 3s ease-in-out both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


h1 {
  text-align: center;
  font-size: var(--fontSizeBase);
  margin-bottom: 1em;
  margin-top: 1.5em;
}

p {
  font-size: calc(var(--fontSizeBase) / 2);
  line-height: 1.8em;
  letter-spacing: 0.1em;

  margin-left: 1em;
}

.bulles {
  width: 70vw;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding-top: 8%;
  background: linear-gradient(to right, var(--secondary-color), var(--backgroundColor))

}

article {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 12vw;
  aspect-ratio: 1;
  height: 12vw;
  border-radius: 50%;
}

.drogon {
  background-image: url("../../figs/drogon1.JPG");
  margin-left: 3em;
}

.xaro {
  background-image: url("../../figs/xaro1.JPG");
  align-self: center;
  margin-right: 3em;
}

.groot {
  background-image: url("../../figs/groot.jpg");
  align-self: flex-end;
  margin-right: 3em;
}

.cercle {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 14px 28px, rgba(0, 0, 0, 0.40) 0px 10px 10px;
  /* transition: transform 0.1s; */
}