
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap');


/* Variables */

:root{
    --font-size: 1rem;
}



/* Basic style */

body {
    font-size: var(--font-size);
    font-family: 'Josefin Sans', sans-serif;
}


/* navbar */

/* .navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
} */

.navBarLinks{
    display: flex;
}
.navBarLink{
    padding: 0 10px;  
}

/* .navBarLink > a{
    color: var(--secondary-color);
} */

/* small device*/
@media screen and (max-width:7670.98px){
    .menu{
        display: flex;
        flex-direction: column;
        width:50%;
        height: 100vh;
        position: absolute;
        top: 65px;
        right: 0;
        background: grey;
        }
    .premier{
        /* flex-direction: column; */
    }
}

    /* toggle menu*/

    /* bonus anims*/

/* medium device*/

/* @media screen and (min-width:768px) {
    .navBarLink > a::after{
        display: block;
        content: "";

    }
    
} */