:root {
    --primary-color: #0F222D;
    --secondary-color: #ebe7d9;
    --spacingBase: 8px;
    --fontSizeBase: 2.5em
}

body{
    background-image: url("../background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header{
    background-color: var(--primary-color);
    --headerHeight: 25vh;
    box-shadow: 0px 10px 10px black;
}

nav {
    display: flex;
    flex-direction: row;
    color: var(--secondary-color);
    justify-content: center;

    align-items: center;
    
}

.menu{
    display: flex;  
}

li{
    margin: calc(var(--spacingBase)*6);
    border: solid 1px var(--secondary-color);
    padding: var(--spacingBase);
}


.logo{
    background-image: url("../logominis&bros.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(var(--headerHeight)/2);  /* REVOIR LA HAUTEUR IMAGE ET LA HAUTEUR DU MENU */
    width: 45%;
}

#main{
    display: flex;
    flex-direction: row;
    
}

.about{
    width: 30vw;
    color: var(--secondary-color);
    margin: var(--spacingBase);

}
h1{
    text-align: center;
    font-size: var(--fontSizeBase );
    margin-bottom: 1em;
    margin-top: 1.5em;
}

p{
    font-size: calc(var(--fontSizeBase) /2);
    line-height: 1.8em;
    letter-spacing: 0.1em;

    margin-left: 1em;
}

.bulles{
    width:70%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.cercle:nth-child(2){

}

article{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    width: 15vw;
    aspect-ratio: 1;
    height: 15vw;
    border-radius: 50%;

}

.drogon{
    background-image: url("../figs/drogon1.JPG");
    
}

.xaro{
    background-image: url("../figs/xaro1.JPG");  
    align-content: center; 
}

.groot{
    background-image: url("../figs/groot.jpg");
}










